<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mysharesdk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0E5FD4B1E224838001C9505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E5FD641E224838001C9505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E5FD6F1E224838001C9505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
